
@font-face {
    src: url("../fonts/Roboto-Light.ttf");
}

#BoardName{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 34;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

#BoardName .input-line{
    -fx-background-color: transparent;
}

#root{
    -fx-background-color: #7e57c2;
}

#AddColumnButton{
    -fx-background-color: white;
    -fx-background-radius: 100;
    -fx-padding: 5;
}

#StatsButton{
    -fx-padding: 5;
}