@font-face {
    src: url("../fonts/Roboto-Light.ttf");
}

#BoardEdit{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 34;
    -fx-text-fill: white;
    -fx-padding: 1;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: transparent;
    -jfx-unfocus-color: transparent;
}

#BoardEdit .input-line{
    -fx-background-color: white;
}
