@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
}

#save_button{
    -fx-background-color: #7e57c2;
    -fx-text-fill: white;
}

#cancel_button{
    -fx-background-color: white;
    -fx-text-fill: #7e57c2;
}

.jfx-button {
    -fx-font-family: "Roboto Bold";
}

