@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
}

.label{
    -fx-font-family: "Roboto";
    -fx-text-fill: #7e57c2;
}

#save_button{
    -fx-background-color: #7e57c2;
    -fx-text-fill: white;
}

#cancel_button{
    -fx-background-color: white;
    -fx-text-fill: #7e57c2;
}

.jfx-text-field{
    -jfx-focus-color: #7e57c2;
    -jfx-unfocus-color: transparent;
}

.jfx-text-area{
    -jfx-focus-color: #7e57c2;
    -jfx-unfocus-color: transparent;
    -fx-font-size: 16;
}

.jfx-button {
    -fx-font-family: "Roboto Bold";
}

.jfx-combo-box{
    -jfx-focus-color: #7e57c2;
    -jfx-unfocus-color: #7e57c2;
    -fx-text-fill: #7e57c2;
    -fx-font-family: "Roboto Bold";
}

.jfx-combo-box .arrow{
    -fx-background-color: #7e57c2;
}

.jfx-combo-box .list-cell{
    -fx-text-fill: #7e57c2;
}

.jfx-combo-box .list-view{
    -fx-background-radius: 5;
    -fx-border-color: white;
}

.jfx-combo-box .list-view .list-cell:focused{
    -fx-background-color: #7e57c2;
    -fx-text-fill: white;
}

.jfx-combo-box .list-view .list-cell:hover{
    -fx-background-color: #7e57c2;
    -fx-text-fill: white;
}

