#Card_root{
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian , white, 0, 0, 1, 1);
}

#CardTitle{
    -fx-font-size: 15;
    -fx-text-fill: black;
}

/*.jfx-text-field{
    -jfx-unfocus-color: transparent;
    -jfx-focus-color: #7e57c2;
}*/
