@font-face {
    src: url("../fonts/Roboto-Light.ttf");
}

#HomePageLabel{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 34;
    -fx-text-fill: white;
}

#root{
    -fx-background-color: white;
}

.jfx-tool-bar{
    -fx-background-color: #4d2c91;
    -fx-background-radius: 0, 0, 5, 5;
}

.jfx-tool-bar .tool-bar-right-box{
    -fx-spacing: 5;
}

#BoardGrid{
    -fx-vgap: 30;
    -fx-hgap: 20;
    -fx-alignment: center;
}
