@font-face {
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
}

#container{
    -fx-background-color: #7e57c2;
}

#statistics_title {
    -fx-font-family: "Roboto Light";
    -fx-font-size: 25;
    -fx-spacing: -0.3;
    -fx-text-fill: #b085f5;
}

.stats {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12;
    -fx-spacing: 0.2;
    -fx-opacity: 0.6;
}

.root {
    -fx-background-radius: 10;
}