
@font-face {
    src: url("../fonts/Roboto-Light.ttf");
}

#BoardName{
    -fx-font-family: "Roboto Light";
    -fx-font-size: 34;
    -fx-text-fill: white;
}

#root{
    -fx-background-color: #7e57c2;
}

#AddColumnButton{
    -fx-background-color: white;
    -fx-background-radius: 100;
    -fx-padding: 5,5,5,5;
}



#Columns{
    -fx-background-insets: 20;
}

.jfx-tool-bar .tool-bar-left-box{
    -fx-padding: 10, 0, 0, 0;
}

